* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-container {
    background-color: #000;
    display: flex;
    padding: 1.5rem 6rem;
    height: 94px;
}

.dropdown {
    margin-left: 3rem;
    position: relative;
}

.drop-down-btn {
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.drop-down-content {
    display: none;
    
}

.dropdown:hover .drop-down-content {
    display: block;
    position: absolute;
    background-color: #000;
}


.drop-down-content a {
    display: block;
    padding: 12px 16px;
}
.drop-down-content a:hover {
    background-color: #fff;
}
















